.lendsqr-dashboard-summary {
    min-height: 16rem;
    border-radius: 0.4rem;
    padding: 1.5rem 2rem 2rem;

    img {
        width: 4rem;
        height: 4rem;
    }

    p {
        margin: 0;
    }
}